head {
    width:1000px;
    margin:auto;
    font-size: 50px;
    padding: 30px;
    text-align: center;
}
body {
    margin: 0;
    padding:0;
    font-family: Arial;
    text-align: center;
}
table, th, td{
    width:1000px;
    margin:auto;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    border: 2px solid #000;
    border-collapse: collapse;
}
button{
    width:auto;
    margin: 10px;;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}